:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: #DDDDDD;
  --gray: hsl(0, 0%, 40%);
  --dark-gray: hsl(0, 0%, 12%);
}

* {
  color: var(--white);
  font-family: monospace;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-gray);
  padding: 0;
  margin: 0;
  font-size: 2rem;
}




#mainContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.typingSpan {
  font-size: 2rem;
  white-space: nowrap;
  border-radius: 0.4rem;
  overflow: hidden;
}

.timerSpan {
  width: 8rem;
  text-align: right;
  margin-right: 2rem;
  font-size: 2rem;
  color: var(--gray);
}

.gameDiv {
  position: absolute;
  top: 0;
  display: flex;
  opacity: 1;

  transition-property: top, opacity, filter;
  transition-duration: 500ms;
}

#gamesArea {
  position: relative;
  display: flex;
  justify-content: center;
}



.green {
  background-color: green;
}

.red {
  background-color: red;
}






#infoIcon {
  position: absolute;
  top: 0;
  right: 0;
  border: 2px var(--gray) solid;
  font-size: 1.6rem;
  width: 2.8rem;
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 2rem;
  color: var(--gray);
  cursor: pointer;
}

#modalContainer {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
}

#modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 5rem;
  overflow: hidden;
  background-color: hsla(0, 0%, 15%, 25%);

  -webkit-backdrop-filter: blur(1rem);
  backdrop-filter: blur(1rem);

  filter: blur(1rem);
  opacity: 0;
  transition-property: filter, opacity, height, top;
  transition-duration: 300ms;

  display: flex;
  justify-content: center;
  align-items: center;
}
#modal.show {
  filter: blur(0rem);
  opacity: 1;
  z-index: 100;

  top: 0rem;
  height: 100vh;
}

#modalContent {
  border-radius: 1rem;
  background-color: hsla(0, 0%, 100%, 70%);
  width: 50vw;
  height: 50vh;
  position: relative;
  padding: 2.5rem;
  color: var(--dark-gray);
  overflow-y: auto;
}








.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}